/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    upload      = false
    psrdb_url   = "$PSRDB_URL"
    psrdb_token = "$PSRDB_TOKEN"
    ephemeris   = ""
    template    = ""
}